@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v20/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiukDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@keyframes linkhover {
  from {
    color: #222222;
  }
  to {
    color: #98d4eb;
  }
}
@keyframes linkhover2 {
  from {
    color: #222222;
  }
  to {
    color: #da99ed;
  }
}
@keyframes buttonhover {
  from {
    background-color: #2f0a42;
    color: #222222;
  }
  tp {
    background-color: #98d4eb;
    color: #FFFFFF;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-family: 'Playfair Display', serif;
  color: #2f0a42;
  font-size: 5rem;
}
h2 {
  font-family: 'Playfair Display', serif;
  color: #2f0a42;
  font-size: 3rem;
}
h3 {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 1.6rem;
}
p {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 1.4rem;
}
p strong {
  font-weight: 600;
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 1.6rem;
}
a:hover {
  color: #98d4eb;
  animation-name: linkhover;
  animation-duration: 0.5s;
}
a i {
  color: #2f0a42;
  font-size: 2rem;
}
a i:hover {
  color: #98d4eb;
  animation-name: linkhover;
  animation-duration: 0.5s;
}
button {
  height: 40px;
  width: 150px;
  padding: 10px auto;
  background-color: #2f0a42;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
button:hover {
  background-color: #98d4eb;
  animation-name: buttonhover;
  animation-duration: 0.5s;
  color: #FFFFFF;
}
.cta_button {
  height: 40px;
  width: 150px;
  padding: 10px auto;
  background-color: #fe4a49;
  color: #222222;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
.cta_button:hover {
  background-color: #98d4eb;
  animation-name: buttonhover;
  animation-duration: 0.5s;
  color: #FFFFFF;
}
header .nav_bar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
}
header .nav_bar .logo {
  width: 75px;
  height: auto;
}
header .nav_bar .nav_links {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .nav_bar .nav_links a {
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  header .nav_bar .nav_links {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 475px;
    width: 100%;
    height: 400px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
  }
  header .nav_bar .nav_links a {
    font-size: 2rem;
  }
}
header .nav_bar .burger {
  display: none;
}
header .nav_bar .burger .bar {
  width: 40px;
  margin: 5px;
  border: solid 3px #222222;
  border-radius: 10px;
  transition: 0.8s;
}
@media (max-width: 800px) {
  header .nav_bar .burger {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
  }
}
header .nav_bar .change_burger .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
header .nav_bar .change_burger .bar2 {
  opacity: 0;
}
header .nav_bar .change_burger .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (max-width: 800px) {
  header .nav_bar .drop_down {
    display: none;
  }
}
header .hero {
  background-image: url(../img/purple_brick_bg.png);
  height: 600px;
  display: flex;
  margin-top: 75px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
header .hero .big_desi {
  width: 28%;
  min-width: 280px;
  min-height: 400px;
}
header .hero .tag_line {
  margin-top: 215px;
  margin-right: 20px;
  padding-right: 50px;
  border-right: 5px solid #98d4eb;
  height: 255px;
  width: 30%;
  min-width: 347px;
  text-align: right;
}
header .hero .tag_line h1 {
  margin-bottom: 30px;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  color: #98d4eb;
}
header .hero .tag_line p {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  header .hero {
    flex-direction: column;
    height: 900px;
  }
  header .hero .big_desi {
    width: 30%;
    height: auto;
    margin-top: 20px;
  }
  header .hero .tag_line {
    margin-top: 50px;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    width: 90%;
    min-width: 0;
    text-align: center;
  }
  header .hero .tag_line h1 {
    font-size: 4.3rem;
  }
}
.home_page {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_page .wip_img {
  width: 20%;
}
.cta_one {
  border-bottom: 2px solid #98d4eb;
  background-color: #98d4eb;
  height: 100px;
  margin-bottom: 50px;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta_one .cta_text {
  margin-right: 20px;
}
.cta_one .cta_text .value {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
@media (max-width: 800px) {
  .cta_one .cta_text .value {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .cta_one .cta_text {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .cta_one .cta_text {
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .cta_one {
    padding: 0 5%;
  }
}
@media (max-width: 500px) {
  .cta_one {
    flex-direction: column;
    height: 250px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .port_intro {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .port_intro h2 {
  margin-bottom: 10px;
}
main .port_intro h3 {
  margin-bottom: 20px;
}
main .port_intro p {
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  main .port_intro {
    width: 80%;
    text-align: center;
  }
}
main .port_featured {
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  background-color: #98d4eb;
}
main .port_featured h2 {
  margin-bottom: 20px;
}
main .port_featured .featured_list {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .port_featured .featured_list .featured_item {
  width: 25%;
  height: auto;
  padding: 20px;
  margin: 20px;
  background-color: #98d4eb;
  border-radius: 4px;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  main .port_featured .featured_list .featured_item {
    width: 40%;
  }
}
@media (max-width: 500px) {
  main .port_featured .featured_list .featured_item {
    width: 90%;
  }
}
main .port_featured .featured_list .featured_item a .featured_img {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
main .port_featured .featured_list .featured_item .code_link {
  color: #fe4a49;
  align-self: flex-start;
  margin-top: 20px;
}
main .port_featured .featured_list .featured_item .code_link:hover {
  color: #da99ed;
  animation-name: linkhover2;
  animation-duration: 0.5s;
}
main .port_featured .featured_list .featured_item h3 {
  margin-bottom: 5px;
  text-align: center;
}
main .port_featured .featured_list .featured_item h3 a {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 2rem;
  font-weight: 700;
}
main .port_featured .featured_list .featured_item h3 a:hover {
  color: #da99ed;
  animation-name: linkhover2;
  animation-duration: 0.5s;
}
main .port_featured .featured_list .featured_item .project_type {
  margin-bottom: 10px;
}
main .port_featured .featured_list .featured_item .tech_used {
  margin-bottom: 20px;
  color: #2f0a42;
  font-weight: 600;
}
main .port_tech {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #da99ed;
}
main .port_tech .tech_list {
  width: 95%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main .port_tech .tech_list .tech_item {
  height: 150px;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
@media (max-width: 500px) {
  main .port_tech .tech_list .tech_item {
    margin: 5px 15px;
  }
}
@media (max-width: 500px) {
  main .port_tech .tech_list {
    width: 75%;
  }
}
main .cta_two {
  width: 30%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .cta_two h2 {
  margin-bottom: 20px;
  text-align: center;
}
main .cta_two p {
  text-align: center;
  margin: 20px 0;
}
main .cta_two .cta_two_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
@media (max-width: 800px) {
  main .cta_two {
    width: 50%;
  }
}
@media (max-width: 500px) {
  main .cta_two {
    width: 90%;
  }
}
.contact_section {
  width: 80%;
  margin: 50px auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  border-top: solid 2px #98d4eb;
}
.contact_section .contact_info {
  width: 40%;
}
.contact_section .contact_info h2 {
  margin-bottom: 100px;
  text-align: center;
}
.contact_section .contact_info p {
  margin: 20px 0;
  font-size: 1.8rem;
}
.contact_section .contact_info p i {
  color: #2f0a42;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .contact_section .contact_info {
    width: 90%;
  }
}
.contact_section .contact_form {
  width: 40%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_section .contact_form .form_title {
  margin: 20px auto;
}
.contact_section .contact_form .port_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact_section .contact_form .port_form input[type=text],
.contact_section .contact_form .port_form input[type=email] {
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  font-family: FontAwesome, 'Roboto', sans-serif;
  font-size: 1.4rem;
  border: solid 1px #98d4eb;
  outline: none;
  border-radius: 4px;
}
.contact_section .contact_form .port_form input[type=text]:focus,
.contact_section .contact_form .port_form input[type=email]:focus {
  border: solid 3px #da99ed;
}
.contact_section .contact_form .port_form textarea {
  width: 100%;
  height: 100px;
  margin: 10px auto;
  padding: 15px;
  font-family: FontAwesome, 'Roboto', sans-serif;
  font-size: 1.4rem;
  border: solid 1px #98d4eb;
  outline: none;
  border-radius: 4px;
  resize: none;
}
.contact_section .contact_form .port_form textarea:focus {
  border: solid 3px #da99ed;
}
.contact_section .contact_form .port_form .checkbox {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 0;
}
.contact_section .contact_form .port_form .checkbox input[type=checkbox] {
  opacity: 0;
}
.contact_section .contact_form .port_form .checkbox label::before,
.contact_section .contact_form .port_form .checkbox label::after {
  content: " ";
  position: absolute;
}
.contact_section .contact_form .port_form .checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid #98d4eb;
  left: 0px;
  top: 1px;
}
.contact_section .contact_form .port_form .checkbox label::after {
  height: 4px;
  width: 9px;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  transform: rotate(-45deg);
  left: 4px;
  top: 5px;
}
.contact_section .contact_form .port_form .checkbox label {
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #222222;
  position: relative;
  padding-left: 22px;
}
.contact_section .contact_form .port_form .checkbox input[type="checkbox"] + label::after {
  content: none;
}
.contact_section .contact_form .port_form .checkbox input[type="checkbox"]:checked + label::after {
  content: " ";
}
.contact_section .contact_form .port_form .checkbox input[type="checkbox"]:focus + label::before {
  outline: #da99ed auto 5px;
}
.contact_section .contact_form .port_form .form_buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .contact_section .contact_form {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .contact_section {
    flex-direction: column;
    align-items: center;
  }
}
.hire_me {
  height: 315px;
  text-align: center;
  margin-top: 100px;
}
.hire_me h1 {
  margin-bottom: 50px;
}
.hire_me p {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.new_project {
  height: 315px;
  text-align: center;
  margin-top: 100px;
}
.new_project h1 {
  margin-bottom: 50px;
}
.new_project p {
  font-size: 1.8rem;
}
footer {
  height: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .social_icons {
  margin: 10px;
}
