.cta_one {
    border-bottom: 2px solid @light-purple;
    background-color: @light-purple;
    height: 100px;
    margin-bottom: 50px;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cta_text {
        margin-right: 20px;

        .value {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 5px;
        };
    };
};