header {
    
    .nav_bar {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        top: 0;

        .logo {
            width: 75px;
            height: auto;
        };

        .nav_links {
            width: 75%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            a {
                text-decoration: none;
                text-transform: uppercase;
            };

            @media (max-width: @tablet) {
                // display: none;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin-top: 475px;
                width: 100%;
                height: 400px;
                z-index: 1000;
                // border: solid 1px @white;
                background-color: rgba(255, 255, 255, 0.7);
                
                a {
                    // color: @black;
                    font-size: 2rem;
                };
            };
        };

        .burger {
            display: none;

            .bar {
                width: 40px;
                margin: 5px;
                border: solid 3px @black;
                border-radius: 10px;
                transition: 0.8s;
            };

            @media (max-width: @tablet) {
                display: flex;
                margin-right: 30px;
                flex-direction: column;
            };
        };

        .change_burger {
            .bar1 {
                transform: rotate(-45deg) translate(-9px, 6px);
                // transition: transform .5s;
            };
    
            .bar2 {
                opacity: 0;
                // transition: opacity .5s;
            };
    
            .bar3 {
                transform: rotate(45deg) translate(-8px, -8px);
                // transition: transform .5s;
            };
        };

        @media (max-width: @tablet) {
            .drop_down {
                display: none;
            };
        };
    };

    .hero {
        background-image: url(../img/purple_brick_bg.png);
        height: 600px;
        display: flex;
        margin-top: 75px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

        .big_desi {
            height: 500px;
        };


        .tag_line {
            margin-top: 215px;
            margin-right: 20px;
            padding-right: 50px;
            border-right: 5px solid @light-blue;
            height: 255px;
            width: 30%;
            text-align: right;

            h1 {
                margin-bottom: 30px;
                font-size: 5rem;
                display: flex;
                flex-direction: column;
                color: @light-blue;
            };

            p {
                font-size: 3rem;
                display: flex;
                flex-direction: column;
                color: @white;
            };
        };
    };
};