main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .port_intro {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    };

    .port_featured {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .featured_list {
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;            

            .featured_item {
                .card_style(@light-blue, @black);
                display: flex;
                flex-direction: column;
                align-items: center;
                .featured_img {
                    width: 100%;
                };
            };
        };
    };

    .port_tech {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tech_list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .tech_item {
                height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
            };
        };
    };

    .cta_two {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    };

    .contact_section {
        width: 95%;
        display: flex;
        justify-content: space-around;

        .contact_form {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
            };
        };
    };
};